﻿@model BatApp.Areas.UserAccounts.Models.Company.CompanyViewModel
@using BatApp.Helpers
@{
    ViewBag.Title = "BAT2 WEB - Company Delete";
}

<h3>@Resources.Resources.DeleteCompanyWarn @Html.DisplayFor(model => model.Name)?</h3>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" class="submitBtn" value="@Resources.Resources.Delete" />
    </p>
}

<div style="padding-top:15px;">
    @Html.ActionImage("Index", null, "~/Content/images/back.png", "back")
</div>
