<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:p1="http://schemas.android.com/apk/res/android"
    p1:layout_width="match_parent"
    p1:layout_height="match_parent"
    p1:id="@+id/cageListItemRelativeLayout"
    p1:padding="0dp"
    p1:descendantFocusability="beforeDescendants"
    p1:focusable="true"
    p1:focusableInTouchMode="true">
    <EditText xmlns:tools="http://schemas.android.com/tools"
        p1:inputType="number"
        p1:layout_width="78dp"
        p1:layout_height="wrap_content"
        p1:id="@+id/cageNumber"
        p1:textSize="23sp"
        p1:layout_marginLeft="0dp"
        p1:layout_centerHorizontal="true"
        p1:layout_alignParentLeft="true"
        p1:gravity="center_horizontal"
        p1:layout_marginTop="3dp"
        p1:selectAllOnFocus="true"
        tools:text="142"
        p1:focusableInTouchMode="true"
        p1:focusable="true"
        p1:textStyle="bold"
        p1:maxLength="4" />
    <TextView
        p1:background="#808080"
        p1:layout_width="2dp"
        p1:layout_height="match_parent"
        p1:layout_toRightOf="@id/cageNumber"
        p1:id="@+id/dividerHorizontal" />
    <TextView xmlns:tools="http://schemas.android.com/tools"
        p1:layout_width="match_parent"
        p1:layout_height="match_parent"
        p1:id="@+id/NoParameters"
        p1:textSize="20sp"
        tools:text="Nezadáno"
        p1:textColor="@android:color/holo_red_dark"
        p1:layout_centerHorizontal="true"
        tools:visibility="gone"
        p1:text="@string/NoParameters"
        p1:layout_toRightOf="@id/dividerHorizontal"
        p1:paddingTop="10dp"
        p1:gravity="center_horizontal"
        p1:paddingRight="60dp" />
    <ListView xmlns:tools="http://schemas.android.com/tools"
        p1:minWidth="25px"
        p1:minHeight="25px"
        p1:layout_width="wrap_content"
        p1:layout_height="wrap_content"
        p1:layout_toRightOf="@id/dividerHorizontal"
        p1:id="@+id/cageContent"
        p1:divider="@android:color/darker_gray"
        p1:dividerHeight="1dp"
        tools:listitem="@layout/cagelistparameter" />
</RelativeLayout>