<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:p1="http://schemas.android.com/apk/res/android"
    p1:orientation="vertical"
    p1:layout_width="match_parent"
    p1:layout_height="match_parent"
    p1:id="@+id/keySettingsLayout"
    p1:background="@android:color/black">
    <TextView
        p1:orientation="vertical"
        p1:minWidth="25px"
        p1:minHeight="25px"
        p1:id="@+id/HeadLine"
        p1:layout_width="match_parent"
        p1:layout_height="wrap_content"
        p1:text="@string/KeySettings"
        p1:textSize="22dp"
        p1:layout_gravity="center_horizontal"
        p1:gravity="center_horizontal"
        p1:layout_marginBottom="10dp"
        p1:textColor="@android:color/white" />
    <RelativeLayout
        p1:minWidth="25px"
        p1:minHeight="25px"
        p1:layout_width="match_parent"
        p1:layout_height="wrap_content"
        p1:layout_below="@id/HeadLine"
        p1:id="@+id/listHeader"
        p1:padding="5dp">
        <TextView
            p1:text="@string/Command"
            p1:layout_width="wrap_content"
            p1:layout_height="wrap_content"
            p1:id="@+id/textView1"
            p1:layout_alignParentLeft="true"
            p1:layout_marginLeft="20dp"
            p1:textStyle="bold"
            p1:textColor="@android:color/white" />
        <TextView
            p1:text="@string/AssignedKey"
            p1:layout_width="wrap_content"
            p1:layout_height="wrap_content"
            p1:id="@+id/textView2"
            p1:layout_alignParentRight="true"
            p1:layout_marginRight="20dp"
            p1:textStyle="bold"
            p1:textColor="@android:color/white" />
    </RelativeLayout>
    <LinearLayout
        p1:orientation="horizontal"
        p1:minWidth="25px"
        p1:minHeight="25px"
        p1:layout_width="match_parent"
        p1:layout_height="wrap_content"
        p1:id="@+id/buttonsLayout"
        p1:layout_alignParentBottom="true">
        <Button
            p1:text="@string/DefaultSettings"
            p1:layout_width="0dp"
            p1:layout_height="match_parent"
            p1:layout_weight=".5"
            p1:id="@+id/defaultSettingsButton"
            p1:textColor="@android:color/white" />
        <Button
            p1:text="@string/Back"
            p1:layout_width="0dp"
            p1:layout_height="match_parent"
            p1:layout_weight=".5"
            p1:id="@+id/backButton"
            p1:textColor="@android:color/white" />
    </LinearLayout>
    <ListView xmlns:tools="http://schemas.android.com/tools"
        p1:minWidth="25px"
        p1:minHeight="25px"
        p1:layout_width="match_parent"
        p1:layout_height="match_parent"
        p1:layout_below="@id/listHeader"
        p1:layout_above="@id/buttonsLayout"
        p1:id="@+id/KeyListView"
        p1:background="@android:color/white"
        tools:listitem="@layout/keysettingsitem" />
</RelativeLayout>