﻿<div id="actualFlocksForm">

   <div class="toolbar">
      <a data-toggle="modal" href="#createFlock" data-bind="click: beforeCreateFlock">
         <img src='@Url.Content("~/Content/images/addflock.png")' alt="@Resources.Resources.AddFlockTitle" title="@Resources.Resources.AddFlockTitle" />
      </a>
      <a data-toggle="modal" data-bind="{attr: { href: (actualSelectedCount() > 0? '#closeFlocks':'#') }, click: makeClosedDateDefaults}">
         <img data-bind=" style: { opacity: actualSelectedCount() > 0 ? '1' : '0.5' }" src='@Url.Content("~/Content/images/closed.png")' alt="close" title="@Resources.Resources.CloseSelectedTitle" />
      </a>
      <a data-toggle="modal" data-bind="attr: { href: (actualSelectedCount() == 1? '#editFlock':'#') }, click: getFlock">
         <img data-bind=" style: { opacity: actualSelectedCount() == 1 ? '1' : '0.5' }" src='@Url.Content("~/Content/images/edit.png")' alt="close" width="36" height="36" title="@Resources.Resources.EditSelectedTitle" />
      </a>
      <a data-toggle="modal" data-bind="attr: { href: (actualSelectedCount() > 0? '#deleteFlocks':'#') }">
         <img data-bind=" style: { opacity: actualSelectedCount() > 0 ? '1' : '0.5' }" src='@Url.Content("~/Content/images/del.png")' alt="close" width="36" height="36" title="@Resources.Resources.DeleteSelectedTitle" />
      </a>
   </div>

   <table id="actualFlocksTable" class="dataTable display">
      <thead>
         <tr>
            <th>@Resources.Resources.FlockIdTableTitle</th>
            <th>@Resources.Resources.FlockNameTableTitle</th>
            <th>@Resources.Resources.ScaleIdTableTitle</th>
            <th>@Resources.Resources.StartDateTableTitle</th>
            <th>@Resources.Resources.MaxDay</th>
         </tr>
      </thead>
      <tbody></tbody>
   </table>

   @* Modal windows *@
   <div class="modal fade" id="editFlock">
      <form data-bind="submit: editFlock" style="margin-bottom: 0;">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>@Resources.Resources.EditFlockModalTitle</h3>
         </div>
         <div class="modal-body">
            @Html.Partial("_EditFlockFormView")
         </div>
         <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">@Resources.Resources.CloseButton</a>
            <input type="submit" class="btn btn-primary" value="@Resources.Resources.SaveChangesButton" />
         </div>
      </form>
   </div>

   <div class="modal fade" id="createFlock">
      <form data-bind="submit: createFlock" style="margin-bottom: 0;">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>@Resources.Resources.CreateFlockModalTitle</h3>
         </div>
         <div class="modal-body">
            @Html.Partial("_CreateFlockFormView")
         </div>
         <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">@Resources.Resources.CloseButton</a>
            <input type="submit" class="btn btn-primary" value="@Resources.Resources.SaveChangesButton" />
         </div>
      </form>
   </div>

   <div class="modal fade" id="deleteFlocks">
      <form data-bind="submit: deleteFlocks" style="margin-bottom: 0;">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>@Resources.Resources.DeleteFlocksModalTitle</h3>
         </div>
         <div class="modal-body">
            <span class="alertText">@Resources.Resources.DeleteFlocksWarn</span>
         </div>
         <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">@Resources.Resources.CancelButton</a>
            <input type="submit" class="btn btn-primary" value="@Resources.Resources.DeleteFlocksButton" />
         </div>
      </form>
   </div>

   <div class="modal fade" id="closeFlocks">
      <form data-bind="submit: closeFlocks" style="margin-bottom: 0;">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>@Resources.Resources.CloseFlocksModalTitle</h3>
         </div>
         <div class="modal-body">
            @Html.Partial("_CloseFlockFormView")
         </div>
         <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">@Resources.Resources.CancelButton</a>
            <input type="submit" class="btn btn-primary" value="@Resources.Resources.CloseFlocksButton" />
         </div>
      </form>
   </div>

</div>