﻿<div class="control-group">
   <label class="control-label" for="flockName">@Resources.Resources.FlockNameLabel</label>
   <div class="controls">
      <input id="flockName" type="text" data-bind="value: actualFlock().name, valueUpdate: 'afterkeydown'" />
   </div>
</div>

<div style="display: inline">
   <div class="control-group" style="float: left; margin-right: 20px;">
      <label class="control-label" for="eStartDate">@Resources.Resources.StartDateLabel</label>
      <div class="controls">
         <input id="eStartDate" type="text" data-bind="value: actualFlock().startDate, valueUpdate: 'afterkeydown'" class="input-small " />
      </div>
   </div>
   <div class="control-group" style="float: left">
      <label class="control-label" for="select01">@Resources.Resources.ScaleLabel</label>
      <div class="controls">
         <select id="select01" class="input-small" data-bind="options: ActualFlocksVM.scales,
                   optionsText: 'Name',
                   optionsValue: 'Id',
                   value: actualFlock().scaleid
                   "></select>
      </div>
   </div>
</div>

<div class="control-group" style="clear: both">
   <label class="control-label" for="textarea">@Resources.Resources.NoteLabel</label>
   <div class="controls">
      <textarea id="textarea" data-bind="value: actualFlock().note, valueUpdate: 'afterkeydown'" class="input-xlarge" style="width: 100%" rows="3"></textarea>
   </div>
</div>