﻿@model System.Web.Mvc.HandleErrorInfo

@{
   ViewBag.Title = "Locked Out";
}

<hgroup>
   <h1 class="alert-danger">Locked out.</h1>
   <h2 class="alert-danger">This account has been locked out, please try again later.</h2>
</hgroup>
