﻿@using Resources
@model BatApp.Areas.UserAccounts.Models.Manage.CreateUserViewModel
@{
   ViewBag.Title = Resources.CreateNewUser;
}

<h3 class="userAccounts">@ViewBag.Title</h3>
<hr />
<div class="userAccounts-account">
    @using (Html.BeginForm("CreateUser", "Manage"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new {@class = "alert-danger"})
        <div class="row">
            @Html.LabelFor(model => model.Username, new {@class = "span2"})
            <div class="span10">
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Password, new {@class = "span2"})

            <div class="span10">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(model => model.ConfirmPassword, new {@class = "span2"})
            <div class="span10">
                @Html.PasswordFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Email, new {@class = "span2"})
            <div class="span10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        if (User.IsInRole(DataModel.Constants.ADMIN))
        {
            <div class="row" id="companyRow">
                @Html.LabelFor(model => model.Company, new {@class = "span2"})
                <div class="span10">
                    @Html.DropDownList("company")
                    @Html.ValidationMessageFor(model => model.Company)
                </div>
            </div>
        }
        if (
            //User.IsInRole(DataModel.Constants.ADMIN) ||
            //   User.IsInRole(DataModel.Constants.COMPANY_ADMIN) ||
            Model.InitialRoles.Count > 0)
        {
            <fieldset id="roleTable">
                <h3 class="userAccounts">@Resources.InitialRoles</h3>
                @for (var i = 0; i < Model.InitialRoles.Count; i++)
                {
                    var role = Model.InitialRoles.ElementAt(i);
                    var roleValue = role.Key.Split(',').Last();
                    var roleText = role.Key.Split(',').First();

                    if ((User.IsInRole(DataModel.Constants.ADMIN) && (roleValue == DataModel.Constants.ADMIN || roleValue == DataModel.Constants.COMPANY_ADMIN)) ||
                        (User.IsInRole(DataModel.Constants.COMPANY_ADMIN) && roleValue == DataModel.Constants.COMPANY_ADMIN))         
                    {
                        <div>
                            <input name="InitialRoles[@i].Key" type="hidden" value="@role.Key" />
                            @Html.CheckBox("InitialRoles[" + i + "].Value", role.Value, new { @id = roleValue, @class = "radioCheckBox " + @roleValue }) <label for="@roleValue"> @roleText</label>
                        </div>
                    }
                    else if (roleValue == DataModel.Constants.USER)
                    {
                        <div id="roleRow">
                            <input name="InitialRoles[@i].Key" type="hidden" value="@role.Key" />
                            @Html.CheckBox("InitialRoles[" + i + "].Value", role.Value, new { @id = roleValue, @class = "radioCheckBox " + @roleValue })<label for="@roleValue"> @roleText</label>
                        </div>
                    }
                    else if (roleValue == DataModel.Constants.FLOCK_MANAGEMENT)
                    {
                        <div id="roleFooter">
                            <input name="InitialRoles[@i].Key" type="hidden" value="@role.Key" />
                            @Html.CheckBox("InitialRoles[" + i + "].Value", role.Value, new { @id = roleValue, @class = "normalCheckBox" })<label for="@roleValue" id="roleManagement"> @roleText</label>
                        </div>
                    }
                }
            </fieldset>
            <div id="scalesList" class="row">
                @Html.LabelFor(model => model.Scales, new {@class = "span2"})
                <div class="span10">
                    @Html.ListBoxFor(x => x.SelectedScales, Model.Scales, new {@style = "height: 300px;"})
                </div>
            </div>
        }
        <div class="row">
            @Html.LabelFor(m => m.Comment, new {@class = "span2"})
            <div class="span1">
                @Html.TextAreaFor(m => m.Comment)
            </div>
        </div>
        <input type="submit" value="@Resources.Create" class="submitBtn"/>
    }
</div>
@section scripts
{
    @Scripts.Render("~/Areas/UserAccounts/Scripts/ManageAccounts.js")
}