﻿@using Resources
@model BatApp.Areas.UserAccounts.Models.Manage.EditUserViewModel

@{
   ViewBag.Title = Resources.UserDetails + Model.Username;
}

<h3 class="userAccounts">@ViewBag.Title</h3>
<hr />
<div class="userAccounts-account">
    @using (Html.BeginForm("EditUser", "Manage"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new {@class = "alert-danger"})
        @Html.HiddenFor(model => model.UserId)
        <div class="row">
            @Html.Label(@Resources.UserName, new {@class = "span2"})
            <div class="span10">
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>

        if (User.IsInRole(DataModel.Constants.ADMIN))
        {
            <div class="row" id="companyRow">
                @Html.Label(@Resources.Company, new { @class = "span2" })
                <div class="span10">
                    @Html.DropDownList("company")
                    @Html.ValidationMessageFor(model => model.Company)
                </div>
            </div>
        }
        if (User.IsInRole(DataModel.Constants.ADMIN) ||
            User.IsInRole(DataModel.Constants.COMPANY_ADMIN) ||
            Model.Roles.Count > 0)
        {
            <fieldset id="roleTable">
                <h3 class="userAccounts">@Resources.Roles</h3>
                @for (var i = 0; i < Model.Roles.Count; i++)
                {
                    var role = Model.Roles.ElementAt(i);
                    var roleValue = role.Key.Split(',').Last();
                    var roleText = role.Key.Split(',').First();

                    if ((User.IsInRole(DataModel.Constants.ADMIN) && (roleValue == DataModel.Constants.ADMIN || roleValue == DataModel.Constants.COMPANY_ADMIN)) ||
                        (User.IsInRole(DataModel.Constants.COMPANY_ADMIN) && roleValue == DataModel.Constants.COMPANY_ADMIN))
                    {
                        <div>
                            <input name="Roles[@i].Key" type="hidden" value="@role.Key"/>
                            @Html.CheckBox("Roles[" + i + "].Value", role.Value, new { @id = roleValue, @class = "radioCheckBox " + @roleValue }) <label for="@roleValue"> @roleText</label>
                        </div>
                    }
                    else if (roleValue == DataModel.Constants.USER)
                    {
                        <div id="roleRow">
                            <input name="Roles[@i].Key" type="hidden" value="@role.Key" />
                            @Html.CheckBox("Roles[" + i + "].Value", role.Value, new { @id = roleValue, @class = "radioCheckBox " + @roleValue })<label for="@roleValue"> @roleText</label>
                        </div>
                    }
                    else if (roleValue == DataModel.Constants.FLOCK_MANAGEMENT)
                    {
                        <div id="roleFooter">
                            <input name="Roles[@i].Key" type="hidden" value="@role.Key" />
                            @Html.CheckBox("Roles[" + i + "].Value", role.Value, new { @id = roleValue, @class = "normalCheckBox" })<label for="@roleValue" id="roleManagement"> @roleText</label>
                        </div>
                    }

                }
            </fieldset>
    <div id="scalesList" class="row">
        @Html.Label(@Resources.Scales, new { @class = "span2" })
        <div class="span10">
            @Html.ListBoxFor(x => x.SelectedScales, Model.Scales, new { @style = "height: 200px;" })
        </div>
    </div>
        }
        <div class="row">
           @Html.Label(@Resources.Comments, new {@class = "span2"})
            <div class="span10">
                @Html.TextAreaFor(m => m.Comment)
            </div>
        </div>
        <input type="submit" value="@Resources.SaveChangesButton" class="submitBtn"/>
    }
</div>

@section scripts
{
    @Scripts.Render("~/Areas/UserAccounts/Scripts/ManageAccounts.js")
}