﻿@{
   ViewBag.Title = "Bat2";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
   @Styles.Render("~/Content/DataTables-1.10.3/css/bundle")
}

<div id="bat2-config" style="display: none" data-bind="visible: true">
   <div>
      <div>
         <ul class="submenu">
            <li class="active"><a>@Resources.Resources.Bat2ConfigTitle</a></li>
         </ul>
      </div>
      <select id="config-list" data-bind="options: configs, optionsText: 'Name', optionsValue: 'Id',value: configId" style="float: left; margin: 5px 10px 5px 0"></select>

      <div>
         <a data-toggle="modal" href="#createConfig">
            <img data-bind="" src='@Url.Content("~/Content/images/addFlock.png")' alt="close" title="@Resources.Resources.AddTo" />
         </a>
         <a data-toggle="modal" data-bind="attr:{ href: configId() ? '#editConfig' : ''}">
            <img data-bind="style: { opacity: configId() ? '1' : '0.5' }" src='@Url.Content("~/Content/images/edit.png")' alt="close" width="36" height="36" title="@Resources.Resources.EditSelectedTitle" />
         </a>
         <a data-toggle="modal" data-bind="attr:{ href: configId() ? '#deleteConfig' : ''}">
            <img data-bind="style: { opacity: configId() ? '1' : '0.5' }" src='@Url.Content("~/Content/images/del.png")' alt="close" width="36" height="36" title="@Resources.Resources.DeleteSelectedTitle" />
         </a>
         <a data-toggle="modal" data-bind="click:SaveConfigs, attr:{ href: configId() ? '#saveConfig' :'' }">
            <img data-bind="style: { opacity: configId() ? '1' : '0.5' }" src='@Url.Content("~/Content/images/save.png")' alt="close" width="36" height="36" title="@Resources.Resources.SaveChangesButton" />
         </a>
         <div class="fadeOut">@Resources.Resources.Bat2Saved</div>
         @*<a data-toggle="modal" data-bind="">
               <img data-bind="style: { opacity: configId() ? '1' : '0.5' }" src='@Url.Content("~/Content/images/download.png")' alt="close" width="36" height="36" title="@Resources.Resources.DownloadAs" />
            </a>*@
      </div>
   </div>
   <div style="clear: both" data-bind="visible : configId()">
      <div>
         <ul class="graphTypesMenu">
            <li class="selected"><a data-bind="click:Show.bind('flocks')">@Resources.Resources.Bat2Flocks</a></li>
            <li><a data-bind="click: Show.bind('statistics')">@Resources.Resources.Bat2Statistics</a></li>
            <li><a data-bind="click:Show.bind('gsm')">@Resources.Resources.Bat2GSM</a></li>
            <li><a data-bind="click:Show.bind('rs485')">@Resources.Resources.Bat2RS485</a></li>
            <li><a data-bind="click:Show.bind('scale')">@Resources.Resources.Bat2Scale</a></li>
            <li><a data-bind="click:Show.bind('correction')">@Resources.Resources.Bat2Correction</a></li>
            <li><a data-bind="click:Show.bind('backlight')">@Resources.Resources.Bat2Backlight</a></li>
         </ul>
      </div>
      <div class="bat2-view" data-bind="visible : configId()">
         <div data-bind="visible: activeTab() == 'flocks'">
            @Html.Partial("Bat2/_FlocksView")
         </div>
         <div data-bind="visible: activeTab() == 'statistics'">
            @Html.Partial("Bat2/_StatisticsView")
         </div>
         <div data-bind="visible: activeTab() == 'gsm'">
            @Html.Partial("Bat2/_GsmView")
         </div>
         <div data-bind="visible: activeTab() == 'rs485'">
            @Html.Partial("Bat2/_Rs485View")
         </div>
         <div data-bind="visible: activeTab() == 'scale'">
            @Html.Partial("Bat2/_ScaleView")
         </div>
         <div data-bind="visible: activeTab() == 'correction'">
            @Html.Partial("Bat2/_CorrectionView")
         </div>
         <div data-bind="visible: activeTab() == 'backlight'">
            @Html.Partial("Bat2/_BacklightView")
         </div>
      </div>
   </div>

   @* Modal windows *@
   @* Create config *@
   <div class="modal fade" id="createConfig">
      <form data-bind="submit: CreateConfig" style="margin-bottom: 0;">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>@Resources.Resources.Bat2CreateNewConfig</h3>
         </div>
         <div class="modal-body">
            <label>@Resources.Resources.Bat2ConfigName</label>
            <input type="text" name="name" />
            <div>
               <label>@Resources.Resources.Bat2Templates</label>
               <select name="template" data-bind="options: templates, optionsText: 'Name', optionsValue: 'Id',value: templateId,optionsCaption:'@Resources.Resources.Bat2EmptyTemplate'"></select>
            </div>
         </div>
         <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">@Resources.Resources.CloseButton</a>
            <input type="submit" class="btn btn-primary" value="@Resources.Resources.CreateBtn" />
         </div>
      </form>
   </div>

   @* Create config *@
   <div class="modal fade" id="editConfig" data-bind="with: config">
      <form data-bind="submit: $parent.EditConfigName" style="margin-bottom: 0;">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>@Resources.Resources.Bat2EditConfigName</h3>
         </div>
         <div class="modal-body">
            <label>@Resources.Resources.Bat2ConfigName</label>
            <input type="text" name="name" data-bind="value: Name" />
         </div>
         <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">@Resources.Resources.CloseButton</a>
            <input type="submit" class="btn btn-primary" value="@Resources.Resources.Change" />
         </div>
      </form>
   </div>

   @* Delete config *@
   <div class="modal fade" id="deleteConfig" data-bind="with: config">
      <form data-bind="submit: $parent.DeleteConfig" style="margin-bottom: 0;">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>@Resources.Resources.Bat2DeleteConfig</h3>
         </div>
         <div class="modal-body">

            <div data-bind="text:'@Resources.Resources.Bat2DeleteSetQ '+ Name +'?'"></div>
         </div>
         <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">@Resources.Resources.CloseButton</a>
            <input type="submit" class="btn btn-primary" value="@Resources.Resources.Delete" />
         </div>
      </form>
   </div>

   @* Template management *@
   <div class="modal fade" id="templateConfig">
      <form data-bind="submit: SaveTemplates" style="margin-bottom: 0;">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>@Resources.Resources.Bat2ConfigTemplate</h3>
         </div>
         <div class="modal-body">
            <table>
               <tr>
                  <td style="width: 140px">@Resources.Resources.Bat2TemplateName:</td>
                  <td>@Resources.Resources.Bat2Config:</td>
                  <td></td>
               </tr>
               <tr>
                  <td><input type="text" style="width: 90px" data-bind="value: newTemplateName, valueUpdate: 'afterkeydown'" /><span class="config-err" data-bind="visible: !newTemplateName()" title="@Resources.Resources.NameRequired!">!</span></td>
                  <td><select style="width: 90px" data-bind="options: configs, optionsText: 'Name',optionsValue: 'Id', value:newTemplateId"></select></td>
                  <td><a href="#" data-bind="click:CreateTemplate.bind()"><img style="margin: 0 10px 10px 5px" data-bind="style:{opacity: newTemplateName() && newTemplateId() ? 1 : 0.5}" src='@Url.Content("~/Content/images/add.png")' /></a></td>
               </tr>
               <tr>
                  <td></td>
                  <td>@Resources.Resources.Bat2Template:</td>
                  <td></td>
               </tr>
               <tr>
                  <td></td>
                  <td><select style="width: 90px" data-bind="options: templateList, optionsText: 'Name', optionsValue: 'Id', value:oldTemplateId"></select></td>
                  <td><a href="#" data-bind="click:DeleteTemplate.bind()"><img style="margin: 0 0 10px 5px" data-bind="style:{opacity: oldTemplateId() ? 1 : 0.5}" src='@Url.Content("~/Content/images/remove.png")' /></a></td>
               </tr>
            </table>

         </div>
         <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">@Resources.Resources.CloseButton</a>
            <input type="submit" class="btn btn-primary" value="@Resources.Resources.SaveChangesButton" />
         </div>
      </form>
   </div>

</div>
@section scripts
{
   @Html.JsActionScript()
   @Scripts.Render("~/Scripts/DataTables")
   @Scripts.Render("~/ViewModels/Scales-Bat2VM.js")
}
