﻿<div class="bat2-view-item" data-bind="with: config">
   <table>
      <tr><td style="width: 220px" colspan="2"><input data-bind="checked:Correction.UseCurve" type="checkbox" />@Resources.Resources.Bat2UseCorrectionCurve</td></tr>
      <tr><td style="width: 160px">@Resources.Resources.Bat2Day 1:</td><td>&plusmn;<input data-bind="value:Correction.Day1" type="number" style="width: 70px" /></td></tr>
      <tr><td>@Resources.Resources.Bat2Day 2:</td><td>&plusmn;<input data-bind="value:Correction.Day2" type="number" style="width: 70px" /></td></tr>
      <tr><td>@Resources.Resources.Bat2UniformityRange:</td><td>+<input data-bind="value:Correction.UniformityRange" type="number" style="width: 70px" />&#37;</td></tr>
   </table>
</div>